/* Custom CSS to change carousel arrow color to red */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.397); /* Change arrow color to red */
}
.carousel-indicators [data-bs-target]{
    background-color: rgb(17, 17, 17); /* Change indicator color to red */
}
.cover{
    height: 100%;
    background-color:rgba(0, 0, 0, 0.797);
    z-index: 1000;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modalBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
}
.innerCover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 2rem;  
    border-radius: 20px;
}
#inputBarcodeBtn:active{
    transform: scale(0.9);
}
#pageCard{
    display: flex;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}